<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item ion-item *ngFor="let item of items; let index = index" (click)="itemTapped(item, index)">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{item.text}}
          </ion-col>
          <ion-col>
            {{item.date}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="selectedItem != null && selectedItem.index == index">
          <ion-col align-self-center size="10">
            <img [src]="selectedItem.qrcode" (click)="share(selectedItem.qrcode)" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<!-- 
{{item.text}}
<div class="item-note" item-end>
  {{item.date}}
</div>
<div *ngIf="selectedItem != null && selectedItem.index == index">
  <img [src]="selectedItem.qrcode" (click)="share(selectedItem.qrcode)" />
</div> -->