<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Générer un QR code</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-input [(ngModel)]="text" type="text" placeholder="Texte"></ion-input>
      <button ion-button secondary (click)="codeGeneration()">Générer</button>

      <img *ngIf="code !== null" [src]="code"/>
      <button *ngIf="code !== null" ion-button secondary (click)="share()">Partager</button>
      <p *ngIf="error !== null">{{error}}</p>
    </ion-card-content>
  </ion-card>

</ion-content>